body {
	background: tan;
	margin: auto;
	padding: 0px;
}

#header {
    width: 800px;
    height: 170px;
    margin: auto;
    background: url(jollyheader.jpg);
}
	
#menu {
     position:relative;
	 top:116px;
     height:108px;
	 background: url(menu.jpg) no-repeat bottom;
}

#menu ul {
    margin: 0;
    padding: 70px;
    list-style: none;
}

#menu li {
	float:left;
    display: block;
	margin:0 auto;
    color: black;
}	

#menu a {
    float:left;
    width: 135px;
    text-align: center;
	text-decoration:none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-family: stencil std;
}
#menu a:hover {
    color: white;
	font-size: 24px;
    font-weight:bold;
	font-family: stencil;
}

#page {
    width: 800px;
    margin:0 auto; min-height:1200px;
    border:1px white ;
    background-color: white;	
}

#centerpic{
	position: center;
	width: 640px;
    height: 330px;
    background: url(travel.jpg) no-repeat left bottom;
    border:1px ;
}

#hike {
	float: left;
	width: 400px;
    height: 327px;
    background: url(hike.jpg) no-repeat left bottom;
    border:1px;
	padding-left:30px;
	margin-left:30px;
}

#back {
	float: right;
	width: 350px;
    height: 358px;
    background: url(back.jpg) no-repeat left bottom;
    border:1px;
	padding-left:30px;
	margin-left:30px;
}

#h1 {
    margin-bottom: 20px;
    color: black;
    font-size: 46;
	font-family: papyrus;
	text-align: center;
}

#h2 {
	margin-bottom: 20px;
    color: black;
    font-size: 40;
	font-family: papyrus;
	text-align: center;
}

#quotation {
	font-family:bookantiqua;
	font-style:oblique;
	font-weight:bold;
	font-size:24;
	text-align:center;
	color; black;
}

#p {
	overflow: visible;
	margin-bottom: 20px;
    color: black;
    font-size: 22;
	font-family: bookantiqua;
	text-align: center;
	text-indent: 20px;
	padding-right: 75px;
}

#p2 {
	overflow:visible;
	margin-top: 45px;
	margin-bottom: 30px;
    color: black;
    font-size: 24;
	font-family: bookantiqua;
	padding-right:30px;
	padding-left:30px;
	text-align: justify;
}

#p3 {
	overflow: visible;
	margin-bottom: 20px;
    color: black;
    font-size: 24;
	font-family: bookantiqua;
	text-align: justify;
	padding-right: 75px;
	padding-left: 75px;
}

#aboutme {
	font-family:Garmond;
	font-style:normal;
	font-size:24;
	text-align:left;
	text-decoration:underline;
	color; black;
	padding-left: 75px;
}

#contactme {
	font-family:Garmond;
	font-style:normal;
	font-size:28;
	text-align:left;
	color; black;
	padding-left: 75px;
}

#gallery {
    margin: 55px;
	margin-top: auto;
    border: 1px solid black;
    width: 150px;
	display: inline-block;
}

#gallery:hover {
    border: 2px solid black;
}

#gallery img {
    width: 100%;
    height: auto;
}

#description {
    padding: 5px;
    text-align: center;
}
	
	